Checks: >
    google-explicit-constructor,
    concurrency-*,
    performance-*,
    clang-analyzer-*,
    misc-*,
    bugprone-*,
    readability-*,
    -misc-no-recursion,
    -misc-non-private-member-variables-in-classes,
    -bugprone-easily-swappable-parameters,
    -bugprone-lambda-function-name,
    -bugprone-narrowing-conversions,
    -readability-convert-member-functions-to-static,
    -readability-function-cognitive-complexity,
    -readability-magic-numbers,
    -readability-redundant-*,
    -readability-braces-around-statements,
    -readability-identifier-length,
    -readability-implicit-bool-conversion,
    -readability-inconsistent-declaration-parameter-name,
