---
BasedOnStyle: Google
---
Language: Cpp
UseTab: Never
IndentWidth: 4
ColumnLimit: 120
TabWidth: 4
AccessModifierOffset: -3
# Only sort headers in each include block
SortIncludes: true
IncludeBlocks: Preserve
---
Language: Proto
IndentWidth: 4
ColumnLimit: 120
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments: true
